body{
	background-color: #9EB1C4;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,p {
	margin: 0;
}

.title-todo {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.info-todo {
	font-size: 1rem;
	margin-bottom: 15px;
}

.to-do-wrapper {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.to-do{
	padding: 20px;
	border-radius: 5px;
	background-color: #FFF;
}

.form {
	display: flex;
}

.item-input{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid lightgray;
	text-transform: capitalize;
	font-size: 1rem;
	margin-right: 10px;
}

.add-button{
	padding: 5px 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #73A7C4;
	background-color: #73A7C4;
	color: #FFF;
	text-transform: capitalize;
}

.list-wrap{
	padding-left: 20px;
}

.list-wrap li {
	text-transform: capitalize;
}

.filter{
	background-color: #C4585C;
	padding: 5px 10px;
	border-radius: 5px;
	color: #FFFFFF;
	outline: none;
	border: 1px solid #C4585C;
}

.none {
	display: none;
}

.delete-li {
	text-decoration: line-through;
	opacity: .8;
	transition: .2s;
}